In [3]:
import numpy as np
import pandas as pd
president_df = pd.read_csv("1976-2016-president.csv")

In [4]:
#sample the data
president_df.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party,writein,candidatevotes,totalvotes,version,notes
0,1976,Alabama,AL,1,63,41,US President,"Carter, Jimmy",democrat,False,659170,1182850,20171015,NaN
1,1976,Alabama,AL,1,63,41,US President,"Ford, Gerald",republican,False,504070,1182850,20171015,NaN
2,1976,Alabama,AL,1,63,41,US President,"Maddox, Lester",american independent party,False,9198,1182850,20171015,NaN
3,1976,Alabama,AL,1,63,41,US President,"Bubar, Benjamin """"Ben""""",prohibition,False,6669,1182850,20171015,NaN
4,1976,Alabama,AL,1,63,41,US President,"Hall, Gus",communist party use,False,1954,1182850,20171015,NaN

In [5]:
#list the columns of the data frame
list(president_df.columns)

['year',
 'state',
 'state_po',
 'state_fips',
 'state_cen',
 'state_ic',
 'office',
 'candidate',
 'party',
 'writein',
 'candidatevotes',
 'totalvotes',
 'version',
 'notes']

In [6]:
#find the number of unique states in the US
president_df.state.nunique()

51

In [7]:
#remove the unwanted columns state_fips, state_cen,state_ic,office,version,notes.
#inplace=true removes the columns in inline. axis=1 -> removes colum
president_df.drop(['state_po', 'state_fips', 'state_cen', 'state_ic',
'office', 'version', 'notes'], axis=1, inplace=True)
president_df.head()

,year,state,candidate,party,writein,candidatevotes,totalvotes
0,1976,Alabama,"Carter, Jimmy",democrat,False,659170,1182850
1,1976,Alabama,"Ford, Gerald",republican,False,504070,1182850
2,1976,Alabama,"Maddox, Lester",american independent party,False,9198,1182850
3,1976,Alabama,"Bubar, Benjamin """"Ben""""",prohibition,False,6669,1182850
4,1976,Alabama,"Hall, Gus",communist party use,False,1954,1182850